{
  "parser": "babel-eslint",
  "env": {
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "ignorePatterns": ["dist-app/", "node_modules/"],
  "rules": {
    "eol-last": 2,
    "eqeqeq": 2,
    "callback-return": 2,
    "keyword-spacing": 2,
    "space-before-blocks": 2,
    "no-void": 2,
    "no-undefined": 0,
    "prefer-const": 2,
    "prefer-template": 2,
    "curly": 2,
    "brace-style": [
      2,
      "1tbs"
    ],
    "comma-dangle": ["error", "only-multiline"],
    "complexity": [
      2,
      10
    ],
    "dot-location": [
      2,
      "property"
    ],
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1,
        "ignoreComments": true
      }
    ],
    "max-depth": [
      2,
      6
    ],
    "max-len": [
      2,
      120,
      4
    ],
    "max-statements": [
      "error",
      40,
      {
        "ignoreTopLevelFunctions": true
      }
    ],
    "no-unused-vars": [
      2,
      {
        "args": "none"
      }
    ],
    "quotes": [
      2,
      "single",
      "avoid-escape"
    ],
    "semi": [
      2,
      "always"
    ],
    "strict": [
      2,
      "global"
    ]
  }
}